body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
  
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	outline: 3px solid green;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.main-header {
	background-color: #eeeeee;
	outline: 3px solid orange;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 1200px;
	margin: auto;
	padding-top: 50px;
	font-size: 16px;
	line-height: 30px;
	font-weight: medium;
	text-transform: uppercase;
 	color: #000000;

	background-color: #eeeeee;
	outline: 3px solid green;
}

.main-logo {
	width: 160px;
	height: 65px;
	margin-left: 20px;
	outline: 3px solid blue;
}

.main-logo:hover {
	opacity: 0.8;
}

.main-logo:focus {
	opacity: 0.3;
}

.site-nav {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: space-between;
	min-width: 440px;
	margin: 0px;
	padding: 0px;
	padding-top: 25px;
	margin-left: 200px;
	outline: 3px solid blue;
}

.user-nav {
	margin: 0px;
	padding: 0px;
	margin-top: 25px;
	margin-left: 200px;
	margin-right: 20px;
	min-width: 160px;
	text-align: right;
	outline: 3px solid blue;
}

.site-nav,
.user-nav {
	list-style: none;
}

.site-nav a,
.user-nav a {
	color: #000000;
}

.site-nav a:hover,
.user-nav a:hover {
	color: #fb565a;
}

.site-nav a:focus,
.user-nav a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.slider {
	position: relative;
  
	background-color: #eeeeee;
	outline: 3px solid orange;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
  
	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
  
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
  
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";
  
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
  
	width: 18px;
	height: 18px;
  
	background: #ffffff;
  
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
  
	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;
  
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}

.button {
	display: block;
	width: 240px;
	padding: 13px 0;
  
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
  
	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.advantages {
	background-color: #ffffff;
	outline: 3px solid orange;
}
.advantages-list {
	list-style: none;
	display: flex;
  	flex-direction: row;
  	align-items: left;
  	justify-content: space-between;
  	width: 1200px;
  	margin: auto;
  	padding: 0px;
  	margin-top: 85px;
  	padding-bottom: 80px;
  	outline: 3px solid green;
}
.advantages-item {
	width: 300px;
	margin-left: 20px;
	margin-right: 80px;
	outline: 3px solid blue;
}
.advantages-header {
	margin: 0px;
	padding-top: 20px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;	
}
.button.red {
	width: 160px;
	margin-top: 30px;
}
.button.green {
	width: 160px;
	margin-top: 30px;
	background-color: #00ca74;	
}
.button.green:hover {
	background-color: #00bc6c;
}
.button.green:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
}
.button.yellow {
	width: 160px;
	margin-top: 30px;
	background-color: #efc84a;	
}
.button.yellow:hover {
	background-color: #eab534;
}
.button.yellow:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
}
.button.grey {
	color: #000000;
	background-color: #eeeeee;	
}
.button.grey:hover {
	background-color: #dfdfdf;
}
.button.grey:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d5d5d5;
}

.studio {
	min-width: 1200px;
	
	background-color: #ffffff;
	outline: 3px solid orange;
}

.studio-wrap {
	display: flex;
  	flex-direction: row;
  	align-items: left;
  	justify-content: space-between;
  	width: 1200px;
  	margin: auto;
  	margin-bottom: 70px;
  	padding: 0px;
  	outline: 3px solid green;
}

.studio-manifest {
	margin-top: 85px;
	width: 680px;
	margin-left: 20px;
	margin-right: 80px;
	outline: 3px solid blue;
}

.studio-manifest h3 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 35px;
	font-size: 45px;
	line-height: 45px;
	font-weight: medium;
	color: #000000;
}

.studio-header {
	margin-top: 35px;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
}

.studio-stats {
	font-size: 45px;
	line-height: 10px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	
	margin-top: 50px;
	width: 360px;
	margin-left: 20px;
	margin-right: 20px;
	outline: 3px solid blue;
}

.studio-stats div {
	display: inline-block;
	margin-top: 35px;
}

.studio-stats span {
	display: inline-block;
	margin-top: 40px;
	width: 110px;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #283136;
	background-color: #ffffff;
	}

.clients {
	min-width: 1200px;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ffffff;
	outline: 3px solid orange;
}
.clients-list {
	list-style: none;
	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	width: 1160px;
  	margin: auto;
  	margin-top: 10px;
  	outline: 3px solid green;
}

.clients-list li {
	opacity: 0.2;
}

.clients-list li:hover {
	opacity: 1;
}

.clients-list li:focus {
	opacity: 0.1;	
}

.contacts {
	margin: 0px;
	padding: 0px;
	width: 1440px;
	min-height: 415px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/map.jpg");
	outline: 5px solid green;
	
}

.contacts-box {
	margin: 0px;
	padding: 0px;
	width: 320px;
	min-height: 310px;
	padding-top: 55px;
	margin-left: 140px;
	align-items: center;
	outline: 5px solid blue;
	background-color: #ffffff;
}
.contacts-header {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;	
}
.contacts-box address {
	line-height: 18px;
}

.footer-content h2 {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}

.social-link {
  	font: inherit;
  	line-height: 18px;
  	font-weight: medium;
  	text-align: center;
  	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-color: #e1e1e1;
  	border: none;
}
.social-link:hover {
	background-color: #e74246;
}
.social-link:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}
.social-link:active {
  
}

.contact-form h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: medium;
	color: #000000;
	background-color: #ffffff;
}

.contact-form label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
}
.contact-form input {
	font: inherit;
	background-color: transparent;
	border: 2px solid #d7dcde;
}
.contact-form input:hover {
	border-color: #b4b9bb;
}
.contact-form input:focus {
	border-color: #000000;
}
.contact-form textarea {
	font: inherit;
	background-color: transparent;
	border: 2px solid #d7dcde;
}
.contact-form textarea:hover {
	border-color: #b4b9bb;
}
.contact-form textarea:focus {
	border-color: #000000;
}

.catalog-header {
	font-size: 55px;
	line-height: 55px;
	font-weight: medium;
	color: #000000;
	background-color: #eeeeee;	
}
.catalog-filter fieldset {
	border: none;
}
.catalog-filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;	
}
.catalog-filter label {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #283136;
	background-color: #ffffff;
}
.catalog-filter label:hover {
	border-color: #b4b9bb;
}
.catalog-filter label:focus {
	border-color: #000000;
}
.catalog-filter button {

}

.catalog-sort p {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
}
.catalog-sort ul {
	list-style: none;
}
.catalog-sort a {
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
}

.items-list {
	list-style: none;
}

.item-card {
	background-color: #eeeeee;
}
.item-card a {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;	
}

.item-card p {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #283136;	
}

.item-card .item-button {
	font: inherit;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: medium;
  	text-align: center;
  	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-color: #fb565a;
  	border: none;
}
.item-button:hover {
	background-color: #e74246;
}
.item-button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}
.item-button:active {
  
}

.catalog-pages ul {
	list-style: none;
}
.catalog-pages a {
	color: #000000;
	background-color: #eeeeee;	
}
.catalog-pages a:hover {
	background-color: #dfdfdf;
}
.catalog-pages a:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d5d5d5;
}

